name: MLIR - Unit and Integration Tests

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

jobs:
  tests:
    runs-on:
      group: dahlia
      labels: openmp
    container:
      image: daisytuner/docc-v2:latest
      options: >-
        --cap-add=PERFMON

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}
          submodules: recursive
          lfs: true

      - name: Mark GitHub Actions workdir as safe
        run: git config --global --add safe.directory /__w/docc/docc

      - name: Install dependencies
        run: |
          apt-get install -y libmlir-19-dev mlir-19-tools

      - name: Build
        run: |
          mkdir build
          cd build
          cmake -G Ninja \
            -DCMAKE_C_COMPILER=clang-19 \
            -DCMAKE_CXX_COMPILER=clang++-19 \
            -DCMAKE_BUILD_TYPE=Debug \
            -DMLIR_BUILD_FRONTEND=ON \
            -DMLIR_BUILD_TESTS=ON \
            -DMLIR_DIR=/usr/lib/llvm-19/lib/cmake/mlir \
            -DLLVM_EXTERNAL_LIT=/usr/lib/llvm-19/build/utils/lit/lit.py \
            -DTorch_DIR=/usr/local/libtorch/share/cmake/Torch/ \
            -DSDFGLIB_AUTO_INSTALL_MODE=ON \
            -DWITH_SYMENGINE_THREAD_SAFE=ON \
            -DWITH_SYMENGINE_RCP=ON \
            -DINSTALL_GTEST=OFF \
            -DBUILD_TESTS:BOOL=OFF \
            -DBUILD_BENCHMARKS:BOOL=OFF \
            -DBUILD_BENCHMARKS_GOOGLE:BOOL=OFF \
            ..
          ninja -j$(nproc)
          cpack -G DEB

          apt-get install -y ./docc*.deb

          ninja check-sdfg-opt

