name: Python - Unit and Integration Tests

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

jobs:
  tests:
    runs-on:
      group: dahlia
      labels: openmp
    container:
      image: daisytuner/docc-v2:latest
      options: >-
        --cap-add=PERFMON
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Create virtual environment
        run: |
          python -m venv .venv
          echo "$PWD/.venv/bin" >> $GITHUB_PATH

      - name: Mark GitHub Actions workdir as safe
        run: git config --global --add safe.directory /__w/docc/docc

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pybind11 pytest black==25.9.0 build
          pip install numpy scipy

      - name: Formatting
        run: |
          shopt -s globstar
          clang-format-19 -style=file --dry-run --Werror python/src/**/*.h python/src/**/*.cpp
          black --check python/docc/ python/tests/ python/setup.py

      - name: Build
        run: |
          mkdir build
          cd build
          cmake -G Ninja \
            -DCMAKE_C_COMPILER=clang-19 \
            -DCMAKE_CXX_COMPILER=clang++-19 \
            -DCMAKE_BUILD_TYPE=Debug \
            -DPYTHON_BUILD_FRONTEND=ON \
            -DWITH_SYMENGINE_THREAD_SAFE=ON \
            -DWITH_SYMENGINE_RCP=ON \
            -DINSTALL_GTEST=OFF \
            -DBUILD_TESTS:BOOL=OFF \
            -DBUILD_BENCHMARKS:BOOL=OFF \
            -DBUILD_BENCHMARKS_GOOGLE:BOOL=OFF \
            -Dpybind11_DIR=$(python -m pybind11 --cmakedir) \
            ..
          ninja -j$(nproc)

          cd ../
          cp VERSION python/VERSION
          pyproject-build --wheel python
          pip install python/dist/*.whl

      - name: Unit Tests
        run: |
          export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
          pytest -v python/tests

      - name: Integration Tests
        run: |
          export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
          pytest -v python/benchmarks/
