name: Python - Unit and Integration Tests

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

jobs:
  tests:
    runs-on:
      group: dahlia
      labels: openmp
    container:
      image: daisytuner/docc-v2:latest
      options: >-
        --cap-add=PERFMON
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Create virtual environment
        run: |
          python -m venv .venv
          echo "$PWD/.venv/bin" >> $GITHUB_PATH

      - name: Mark GitHub Actions workdir as safe
        run: git config --global --add safe.directory /__w/docc/docc

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pybind11 pytest black==25.9.0 build scikit-build-core
          pip install numpy scipy

      - name: Formatting
        shell: bash
        run: |
          shopt -s globstar
          clang-format-19 -style=file --dry-run --Werror python/bindings/**/*.h python/bindings/**/*.cpp
          black --check python/docc/ python/tests/

      - name: Build
        run: |
          pyproject-build --wheel python
          pip install python/dist/*.whl

      - name: Unit Tests
        run: |
          export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
          pytest -v python/tests

      - name: Integration Tests
        run: |
          export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
          pytest -v python/benchmarks/
