name: Unit Tests (Undefined Behavior Sanitizer)

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

jobs:
  build:
    runs-on:
      group: dahlia
      labels: openmp
    container:
      image: daisytuner/docc-v2:latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Formatting
        shell: bash
        run: |
          shopt -s globstar
          clang-format-19 -style=file --dry-run --Werror sdfg/include/**/*.h sdfg/src/**/*.cpp sdfg/tests/**/*.cpp
          clang-format-19 -style=file --dry-run --Werror opt/include/**/*.h opt/src/**/*.cpp opt/tests/**/*.cpp

      - name: Build and test
        run: |
          mkdir build
          cd build
          cmake \
            -G Ninja \
            -DCMAKE_C_COMPILER=clang-19 \
            -DCMAKE_CXX_COMPILER=clang++-19 \
            -DCMAKE_BUILD_TYPE=Debug \
            -DSDFG_ENABLE_SANITIZER=ON \
            -DSDFG_SANITIZER=undefined \
            -DBUILD_TESTS:BOOL=OFF \
            -DBUILD_BENCHMARKS:BOOL=OFF \
            -DBUILD_BENCHMARKS_GOOGLE:BOOL=OFF  \
            ..
          ninja -j$(nproc)

          ./sdfg/tests/sdfglib_test
          ./opt/tests/sdfgopt_test
