name: Unit Tests - Release

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: daisytuner/docc-v2:latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Formatting
        shell: bash
        run: |
          shopt -s globstar
          clang-format-19 -style=file --dry-run --Werror src/**/*.cpp tests/**/*.cpp include/**/*.h

      - name: CMAKE Setup
        run: |
          mkdir build
          cd build
          cmake -G Ninja \
            -DCMAKE_C_COMPILER=clang-19 \
            -DCMAKE_CXX_COMPILER=clang++-19 \
            -DCMAKE_BUILD_TYPE=Release \
            -DWITH_SYMENGINE_THREAD_SAFE=ON \
            -DWITH_SYMENGINE_RCP=ON \
            -DBUILD_TESTS:BOOL=OFF \
            -DBUILD_BENCHMARKS:BOOL=OFF \
            -DBUILD_BENCHMARKS_GOOGLE:BOOL=OFF \
            ..
          ninja -j$(nproc)

          ./tests/sdfglib_test
