name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

jobs:
  build:
    runs-on:
      group: dahlia
      labels: openmp
    container:
      image: daisytuner/docc:latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Formatting
        run: clang-format-19 -style=file --dry-run --Werror src/**/*.cpp tests/**/*.cpp include/**/*.h

      - name: CMAKE Setup
        run: |
          mkdir build
          cd build
          # cmake -G Ninja -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_C_COMPILER=clang-19 -DCMAKE_CXX_COMPILER=clang++-19 -DCMAKE_BUILD_TYPE=Debug -DSDFGLIB_ENABLE_COVERAGE=ON -DWITH_SYMENGINE_RCP=ON -DBUILD_TESTS:BOOL=OFF -DBUILD_BENCHMARKS:BOOL=OFF -DBUILD_BENCHMARKS_GOOGLE:BOOL=OFF  ..
          cmake -G Ninja -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_C_COMPILER=clang-19 -DCMAKE_CXX_COMPILER=clang++-19 -DCMAKE_BUILD_TYPE=Debug -DWITH_SYMENGINE_RCP=ON -DBUILD_TESTS:BOOL=OFF -DBUILD_BENCHMARKS:BOOL=OFF -DBUILD_BENCHMARKS_GOOGLE:BOOL=OFF  ..
          ln -s compile_commands.json ../compile_commands.json

      # - name: Linting
      #   run: clang-tidy-19 --config-file=".clang-tidy" src/**/*.cpp tests/**/*.cpp include/**/*.h

      - name: Build and test
        run: |
          cd build
          ninja -j$(nproc)

          ./tests/sdfglib_test
          # gcovr --gcov-executable "llvm-cov-19 gcov" --filter ../include/ --filter ../src/ --coveralls coveralls.json -r ../

      - name: Test Arg-Capture-IO
        run: |
          cd build
          ./arg-capture-io/tests/capture_io_test

      # - name: Coveralls
      #   uses: coverallsapp/github-action@v2
