name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
  schedule:
    - cron: "0 4 * * *"

jobs:
  cpp-tests:
    runs-on:
      group: dahlia
      labels: cuda
    container:
      image: daisytuner/docc-v2:latest
      options: >-
        --cap-add=PERFMON
        --gpus=all

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Mark GitHub Actions workdir as safe
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Formatting
        shell: bash
        run: |
          shopt -s globstar
          clang-format-19 -style=file --dry-run --Werror sdfg/include/**/*.h sdfg/src/**/*.cpp sdfg/tests/**/*.cpp
          clang-format-19 -style=file --dry-run --Werror opt/include/**/*.h opt/src/**/*.cpp opt/tests/**/*.cpp

      - name: CMAKE Setup
        run: |
          mkdir build
          cd build
          cmake \
            -G Ninja \
            -DCMAKE_C_COMPILER=clang-19 \
            -DCMAKE_CXX_COMPILER=clang++-19 \
            -DCMAKE_INSTALL_PREFIX=/usr/local \
            -DCMAKE_BUILD_TYPE=Debug \
            -DSDFG_ENABLE_COVERAGE=ON \
            -DBUILD_TESTS:BOOL=OFF \
            -DBUILD_BENCHMARKS:BOOL=OFF \
            -DBUILD_BENCHMARKS_GOOGLE:BOOL=OFF  \
            ..
          ninja -j$(nproc)
          ninja install

          LLVM_PROFILE_FILE="sdfglib_test.profraw" ./sdfg/tests/sdfglib_test
          LLVM_PROFILE_FILE="sdfgopt_test.profraw" ./opt/tests/sdfgopt_test
          ./tutorial/printf_target/tests/printf_target_test

          # Run coverage
          llvm-profdata-19 merge -sparse sdfglib_test.profraw sdfgopt_test.profraw -o default.profdata
          cd ../
          llvm-cov-19 export ./build/sdfg/tests/sdfglib_test -object ./build/opt/tests/sdfgopt_test -instr-profile=build/default.profdata -format=lcov > build/coverage_full.lcov
          lcov --extract build/coverage_full.lcov '*/sdfg/src/*' '*/sdfg/include/*' '*/opt/src/*' '*/opt/include/*' --output-file build/coverage.lcov

      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          flag-name: sdfg
          parallel: true
          format: lcov
          file: build/coverage.lcov

      - name: Test Arg-Capture-IO
        run: |
          cd build
          ./arg-capture-io/tests/capture_io_test

      - name: Test RTL
        run: |
          export CPATH=/usr/local/include:$CPATH
          export LIBRARY_PATH=/usr/local/lib:$LIBRARY_PATH
          export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
          export PATH=/usr/local/bin:$PATH

          pip install pytest==7.1.3 --break-system-packages
          pip install pytest-parallel --break-system-packages

          cd rtl/tests
          pytest -v -s rtl_tests.py

  python-tests:
    runs-on:
      group: dahlia
      labels: cuda
    container:
      image: daisytuner/docc-v2:latest
      options: >-
        --cap-add=PERFMON
        --gpus=all
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Create virtual environment
        run: |
          python -m venv .venv
          echo "$PWD/.venv/bin" >> $GITHUB_PATH

      - name: Mark GitHub Actions workdir as safe
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pybind11 pytest coverage black==25.9.0 build scikit-build-core
          pip install numpy scipy

      - name: Formatting
        shell: bash
        run: |
          shopt -s globstar
          clang-format-19 -style=file --dry-run --Werror python/bindings/**/*.h python/bindings/**/*.cpp
          black --check python/docc/ python/tests/

      - name: Build
        run: |
          pip install --no-build-isolation -v -e python/

      - name: Unit Tests
        run: |
          nvidia-smi
          export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
          coverage run --source=python/docc -m pytest -v python/tests
          coverage xml

      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          flag-name: python-${{ matrix.python-version }}
          parallel: true
          format: cobertura
          file: coverage.xml

      - name: Integration Tests
        run: |
          export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
          pytest -v python/benchmarks/

  mlir-tests:
    runs-on:
      group: dahlia
      labels: cuda
    container:
      image: daisytuner/docc-v2:latest
      options: >-
        --cap-add=PERFMON
        --gpus=all
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Create virtual environment
        run: |
          python -m venv .venv
          echo "$PWD/.venv/bin" >> $GITHUB_PATH

      - name: Mark GitHub Actions workdir as safe
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Install dependencies
        run: |
          apt-get install -y libmlir-19-dev mlir-19-tools

          python -m pip install --upgrade pip
          pip install pybind11 pytest coverage black==25.9.0 build scikit-build-core
          pip install numpy scipy

      - name: Build
        run: |
          mkdir build
          cd build
          cmake -G Ninja \
            -DCMAKE_C_COMPILER=clang-19 \
            -DCMAKE_CXX_COMPILER=clang++-19 \
            -DCMAKE_BUILD_TYPE=Debug \
            -DMLIR_BUILD_FRONTEND=ON \
            -DMLIR_BUILD_TESTS=ON \
            -DMLIR_DIR=/usr/lib/llvm-19/lib/cmake/mlir \
            -DLLVM_EXTERNAL_LIT=/usr/lib/llvm-19/build/utils/lit/lit.py \
            -DWITH_SYMENGINE_THREAD_SAFE=ON \
            -DWITH_SYMENGINE_RCP=ON \
            -DINSTALL_GTEST=OFF \
            -DBUILD_TESTS:BOOL=OFF \
            -DBUILD_BENCHMARKS:BOOL=OFF \
            -DBUILD_BENCHMARKS_GOOGLE:BOOL=OFF \
            ..
          ninja -j$(nproc)

      - name: Unit tests
        run: |
          cd build/
          ninja check-sdfg-opt

      - name: Build Python bindings
        run: |
          pip install --no-build-isolation -v -e mlir/
          python -c "import docc_ml"

  finish:
    needs: [cpp-tests, python-tests, mlir-tests]
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true
